.div(ng-controller="booksCtrl")
  %h1 Create New Book
  %form
    .form-group
      %label Title
      %input.form-control{:type => 'text', 'ng-model' => 'book.title', :required => true}
    .form-group
      %label Description
      %textarea.form-control{"ng-model" => 'book.description', :required => true, :cols => 30, :rows => 10}
    .form-group
      %label Author
      %select{'ng-model' => 'book.author_id'}
        %option(ng-repeat="author in authors" value="{{author.id}}") {{ author.full_name }}
    .form-group
      %label Published
      %input{:type => "checkbox", "ng-model" => "book.published" }
    %button.btn.btn-primary(ng-click="submitForm()") Submit

  %h1 List All Books
  %div
    %table
      %thead
        %th ID
        %th Title
        %th Description
        %th Author
        %th Created At
        %th Updated At
        %th
      %tbody
        %tr(ng-repeat="book in books")
          %td {{ book.id }}
          %td {{ book.title }}
          %td {{ book.description }}
          %td {{ book.author.full_name }}
          %td {{ book.created_at | date }}
          %td {{ book.updated_at | date }}
          %td
            %button.btn.btn-primary(ng-click="getOtherBooks(book.author.id)") Get other books
            %button.btn.btn-warning(ng-click="editBook($index)") Edit
            %button.btn.btn-danger(ng-click="deleteBook($index)") Delete
  %div
    %h1 Edit Book
    %form
      .form-group
        %label Title
        %input.form-control{:type => 'text', 'ng-model' => 'bookUpdate.title', :required => true}
      .form-group
        %label Description
        %textarea.form-control{"ng-model" => 'bookUpdate.description', :required => true, :cols => 30, :rows => 10}
      .form-group
        %label Author
        %select(data-ng-model = 'bookUpdate.author_id' data-ng-options="author.id as author.full_name for author in authors")
      .form-group
        %label Published
        %input{:type => "checkbox", "ng-model" => "bookUpdate.published"}
      %button.btn.btn-primary(ng-click="updateBook()") Submit
      %button.btn.btn-danger(ng-click="cancelForm()") Cancel
  %div
    %h1 List Other Book
    %p(ng-show="!otherBooks.length") No Books
    %div(ng-show="otherBooks.length")
      %table
        %p Author: {{ otherBooks[0].author.full_name }}
        %p Birthday: {{ otherBooks[0].author.birthday | date }}
        %p Email: {{ otherBooks[0].author.email }}
        %p Phone: {{ otherBooks[0].author.phone }}
        %thead
          %th ID
          %th Title
          %th Description
          %th Created At
          %th Updated At
        %tbody
          %tr(ng-repeat="otherBook in otherBooks")
            %td {{ otherBook.id }}
            %td {{ otherBook.title }}
            %td {{ otherBook.description }}
            %td {{ otherBook.created_at | date }}
            %td {{ otherBook.updated_at | date }}